@using PagedList.Mvc
@model PagedTableAspNetMvc.Models.IndexModel

<div class="col-md-12">
    <a href="@Url.Action("New")" class="btn btn-success">
        <i class="glypicon glyphicon-plus"></i>
        Add New
    </a>

    @Html.PagedListPager(Model.People, page => Url.Action("index", new { page }))
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.People)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FullName</td>
                    <td>@person.Phone</td>
                    <td>@person.Email</td>
                    <td><a href="@Url.Action("Edit", new { person.Id })">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model.People, page => Url.Action("index", new { page }))
</div>
